
body {
  background-image: url('./assets/images/star-wars-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

/*.custom-table{*/
/*  background: transparent !important;*/
/*}*/

/*.custom-table .ant-table-thead > tr > th {*/
/*  background: rgba(255, 255, 255, 0.2); !* Optional: Slight transparency for headers *!*/
/*}*/

/*.custom-table .ant-table-tbody > tr > td {*/
/*  background: transparent !important;*/
/*}*/